converted/
downloaded/
info/
quotes/
fundamentals/
closing_prices/
downloaded_closing_prices/
sector-stocks/energy/closing_prices/*
sector-stocks/healthcare/closing_prices/*


technology_analysis.ipynb
industrials_analysis.ipynb
get_market_caps.ipynb
Untitled.ipynb
token.txt
token.ipynb
token-checkpoint.ipynb

